// Place all the styles related to the dogs controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.formSection{
  padding-bottom: 15px;
  padding-top: 15px;
  border-bottom: 1px solid lightgrey;
}

.formLabel{
  padding-bottom: 5px;
}


table {
  width: 100%;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}

tr:hover {
  cursor: pointer;
}
